* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding-top: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  margin-top: 2rem;
}
/* form */
.game_cta {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.player_guess_input {
  height: 2rem;
  padding: 1rem;
  margin-right: 1rem;
}
.guess_btn {
  padding: 0.5rem 2rem;
  font-weight: 700;
}
/* end of form */

/* results */

.results {
  margin-top: 2rem;
}

.user_won,
.user_lost {
  display: none;
}
